.cache/
**/build/
!src/**/build/

### mvn
target/

### lsp emacs
.lsp-workspace

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

/.settings
/gradle/
/bin/
*.class
/.classpath
/.project
